{% extends "_base.html.twig" %}

{% block content %}
    <section class="c-parallax js-parallax">
        <div id="load">
            <img class="c-parallax__element js-parallax__element" data-js-parallax='{"yOffset": 0.3}' src="http://upload.wikimedia.org/wikipedia/commons/a/a0/Rose_Hall_Lane%2C_Middleton_Cheney_-_geograph.org.uk_-_162993.jpg">
            <img class="c-parallax__element js-parallax__element" data-js-parallax='{"yOffset": 0.5}' src="http://upload.wikimedia.org/wikipedia/commons/e/eb/Parish_Church_of_The_Holy_Jesus%2C_Lydbrook_-_geograph.org.uk_-_555194.jpg?uselang=hu">
            <img class="c-parallax__element js-parallax__element" data-js-parallax='{"yOffset": 0.4}' src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/GvdS_UR-PSB_%2812542272025%29.jpg/800px-GvdS_UR-PSB_%2812542272025%29.jpg?uselang=hu">
        </div>
    </section>
{% endblock %}
