{% if tips|length > 0 %}
    <div class="c-good-to-know">
        <div class="c-good-to-know__title">Good to know</div>
        <ul class="c-good-to-know__list">
            {% for tip in tips %}
                <li class="c-good-to-know__item">{{ tip|raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
