<?php
// This file is needed so that sharing the configuration is easier
return [
    'preview' => [
        'host' => null,
        'user' => null,
        'pass' => null,
        'remote_path' => '/',
        'parameters_yml' => 'src/config/parameters.yml',
    ],
];
