{% trans_default_domain 'browser_alert' %}
<!--[if lt IE 10]>
<div class="c-browser-alert" id="js-browser-alert">
    <div class="c-browser-alert__container">
        <div class="row collapse">
            <div class="column small-12 medium-10 medium-offset-1">
                <p>
                    <b>{{ 'first_line'|trans }}</b>
                    {{ 'second_line'|trans }}
                </p>

                <a class="js-browser-alert__close-btn c-browser-alert__close-btn" href="javascript:void(0)">
                    <span class="s-icon s-icon-x"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<![endif]-->

