.s-admin-icon {
  background-image: url('../images/sprites/s-admin-icon.png');
  display: inline-block;
  vertical-align: middle;
}

.s-admin-icon-search {
  background-position: -4px -4px;
  width: 15px;
  height: 14px;
}

.s-admin-icon-logout {
  background-position: -4px -26px;
  width: 15px;
  height: 14px;
}

.s-admin-icon-calendar {
  background-position: -4px -48px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-clock {
  background-position: -4px -76px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-analytics {
  background-position: -4px -104px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-home {
  background-position: -4px -132px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-bell {
  background-position: -4px -160px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-envelope {
  background-position: -4px -188px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-gear {
  background-position: -4px -216px;
  width: 20px;
  height: 20px;
}

.s-admin-icon-delete {
  background-position: -4px -244px;
  width: 25px;
  height: 25px;
}

.s-admin-icon-preview {
  background-position: -4px -277px;
  width: 25px;
  height: 25px;
}

.s-admin-icon-edit {
  background-position: -4px -310px;
  width: 25px;
  height: 25px;
}

.s-admin-icon-cross {
  background-position: -4px -343px;
  width: 36px;
  height: 36px;
}

