{% extends "_base.html.twig" %}

{% block meta %}
    {% include 'includes/meta.html.twig' with {
        sub_title: 'home_title'|trans([], 'meta'),
    } %}
{% endblock %}

{% block content %}
    Hey, I have some "Good To Know" facts:
    <ul>
        {% for fact in good_to_know %}
            <li>{{ fact }}</li>
        {% endfor %}
    </ul>

    <h2>File validation test</h2>
    <input type="file" class="js-file-validator" data-js-file-validator='{
        "max_size": "5Mb",
        "accept": "image/*"
    }'>
    <span class="js-file-validator__label"></span>
{% endblock %}
