<div class="c-page__headline">
    <h1 class="c-page__title">{% block headline_title %}Oldal megnevezése{% endblock %}</h1>
    <span class="c-page__description">{% block headline_description %}Oldal leírása{% endblock %}</span>
</div>
