{% extends "admin/_base.html.twig" %}

{% form_theme form 'admin/form/base.html.twig' %}
{% form_theme form.save 'admin/form/submit.html.twig' %}
{% form_theme form.cancel 'admin/form/reset.html.twig' %}

{% block headline %}
    {% embed "admin/includes/_headline.html.twig" %}
        {% block headline_title %}
            Új léterehozása
        {% endblock %}
        {% block headline_description %}
            Galéria
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <section class="c-content">
        <div class="c-content__headline">
            <h2 class="c-content__title">Galéria kép</h2>
            <span class="c-content__description">Kérjük Tallóz be egy képet!</span>
        </div>

        <div class="c-admin-form c-admin-form--sales-form">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
